@tailwind base;
@tailwind utilities;

body {
    font-family: 'Sora', sans-serif;
    transition: .15s;
    margin: 0;
}

.top_shadow{
    height: 150px;
    background: linear-gradient(rgba(50, 50, 50, 0.4), rgba(100, 100, 100, 0));
}

#about_expander[data-expand="false"] {
    max-height: 150px;
}

#about_expander[data-expand="true"] {
    max-height: none;
}

#about_expander[data-expand="false"] #about:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;

    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .6) 20%, rgb(255, 255, 255));
}

html[class="dark"] #about_expander[data-expand="false"] #about:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;

    background: linear-gradient(rgba(36, 36, 45, 0), rgba(36, 36, 45, 0.8) 20%, rgb(36, 36, 45));
}

#about_expander[data-expand="true"] #about:after{
    content: "";
}

#about_expander[data-expand="true"] #read_more{
    display: none;
}

html[class=""] #toggle_light {
    display: none;
}

html[class="dark"] #toggle_dark {
    display: none;
}